<p>So, what's all this, then?</a>

<p><b>Reads</b> is a very simple RSS reader.</p>

<p><b>Reads</b> won't slice. It won't dice. What it does do is follow RSS feeds.</p>


<p>My goals for Reads are very simple:</p>

<ul>
  <li>Clean. I want it clean.</li>
  <li>Once I mark an item as "read", I want it to go away. Is that so strange? Apparently so.</li>
  <li>I want the feeds to update manually. I think. I may change my mind on this, but I don't want the feeds to nag me when there are new items. There are a number of feeds that I don't want to watch closely, and I'd rather not feel bad about not looking at the new items.</li>
  <li>I want a project to work on while I explore Ruby on Rails and jQuery.</p>
</ul>

<p>I'm sure there are a lot of readers that already exist that would make me happy. So here's one more.</p>

<p>Questions? I'm at <a href='mailto:jeff@jeffroush.com'>jeff@jeffroush.com</a></p>
