<div id='feed_title_bar'>
  Edit trail
  <a href='http://redcloth.org/textile' class='titlecommand'>(Textile reference)</a>
</div>

<br />


<%= render 'form' %>


<div id='item_footer'>
<%= link_to 'Show', @trail %> |
<%= link_to 'Back', trails_path %>
</div>

<div class='cleardiv'></div>
