<div id='all_feeds_list'>
	<ul>
		<% if user_signed_in? %>
			<% current_user.feeds.each do |feed| %>
				<% if feed.feed_items.where(:read=>false).count > 0 %>
					<li><b><%= link_to feed.title, url_for(:controller=>:feeds, :action=>:show, :id=>feed.id) %></b></li>
				<% else %>
					<li><%= link_to feed.title, url_for(:controller=>:feeds, :action=>:show, :id=>feed.id) %></li>
				<% end %>
			<% end %>
		<% end %>
	</ul>
</div>